.box {
    /* background-color: #e99049; */
    background: linear-gradient(to bottom, #e99049, #e9904987);
    width: 40%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.box p {
    color: #632620;
    align-items: center;
    line-height: 50px;
}

.position {
    text-align: center;
    margin: 1rem auto;
}