.box {
    background: #D3C7F1;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.box p {
    color: #8C69DE;
    align-items: center;
    line-height: 50px;
}

.position {
    text-align: center;
    margin: 1rem auto;
}